{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "proseWrap": "always",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "semi": false
}
